html, body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
#root {
  display: flex;
  justify-content: flex-start;
  align-content: stretch;
  min-height: 100%;
}
.App {
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-content: center;
  position: relative;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-body {
  flex: 1;
  padding: 2em;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.chart {
  background-color: #222;
  flex: 1;
}

svg {
  width: 100%;
  height: 100%;
}

.stroke {
  fill: none;
  stroke: steelblue;
  stroke-width: px;
}

.fill {
  fill: #172334;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: #171b23;
  stroke: steelblue;
  stroke-width: 0.5px;
  stroke-opacity: .8;
}

.boundary {
  fill: none;
  stroke: #666;
  stroke-width: .5px;
}
.point {
  fill: steelblue;
  opacity: 0.5;
  transition: fill 0.25s;

  &.active {
    fill: red;
  }
  &.visited {
    fill: purple;
  }
}
#tooltip {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(23,27,35, 0.65);
  color: white;
  border: 1px solid steelblue;
  border-radius: 6px;
  padding: 0.5em 1em;
  opacity: 0;
  text-align: left;
  transition: opacity 0.25s;
  pointer-events: none;

  &.active {
    opacity: 1;
  }
  .mass::before {
    content: "Mass (g):";
    margin-right: 0.5em;
  }
  .year::before {
    content: "Year:";
    margin-right: 0.5em;
  }
  .name::before {
    content: "Name:";
    margin-right: 0.5em;
  }
  .recclass::before  {
    content: "Class:";
    margin-right: 0.5em;
  }
}